<div
  style="
    width: 100%;
    height: 100%;
    position: relative;
    background: #201e3f;
    overflow: hidden;
  "
>
  <div
    style="
      width: 661px;
      height: 670px;
      left: 389px;
      top: 309px;
      position: absolute;
      background: white;
    "
  ></div>
  <img
    style="
      width: 306px;
      height: 231px;
      left: 567px;
      top: 15px;
      position: absolute;
    "
    src="/images/logo.png"
  />
  <div
    style="
      width: 385px;
      height: 69px;
      left: 527px;
      top: 663px;
      position: absolute;
      background: #d9d9d9;
    "
  ></div>
  <div
    style="
      width: 385px;
      height: 69px;
      left: 527px;
      top: 483px;
      position: absolute;
      background: #d9d9d9;
    "
  ></div>
  <div
    style="
      width: 444px;
      height: 94px;
      left: 498px;
      top: 806px;
      position: absolute;
      background: #1d2854;
    "
  ></div>
  <div
    style="
      width: 407px;
      height: 89px;
      left: 516px;
      top: 246px;
      position: absolute;
      text-align: center;
      color: #fffbfb;
      font-size: 48px;
      font-family: Inria Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Debt Tracer
  </div>
  <div
    style="
      left: 676px;
      top: 831px;
      position: absolute;
      text-align: center;
      color: #fff7f7;
      font-size: 36px;
      font-family: Inria Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Login
  </div>
  <div
    style="
      width: 440px;
      height: 69px;
      left: 390px;
      top: 438px;
      position: absolute;
      text-align: center;
      color: black;
      font-size: 35px;
      font-family: Inria Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Username:
  </div>
  <div
    style="
      width: 301px;
      height: 69px;
      left: 454px;
      top: 618px;
      position: absolute;
      text-align: center;
      color: black;
      font-size: 35px;
      font-family: Inria Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Password:
  </div>
  <div
    style="
      width: 459px;
      height: 57px;
      left: 498px;
      top: 358px;
      position: absolute;
      text-align: center;
      color: #1d2854;
      font-size: 35px;
      font-family: Inria Sans;
      font-weight: 700;
      word-wrap: break-word;
    "
  >
    Welcome back!
  </div>
</div>
