<div class="layout">
<%- include("partials/header.ejs") %>
    <form action="/profile/pic" method="POST" enctype="multipart/form-data">
        <input type="file" name="profilePic" accept="image/*" required />
        <button type="submit">Upload</button>
      </form>
      
      <% if (user.profilePic) { %>
        <img id="setProfilePic" src="<%= user.profilePic %>" alt="Profile Picture" width="150" />
      <% } else { %>
        <img id="setProfilePic" src="/images/logo.png" alt="Default Avatar" width="150" />
      <% } %>
      
</main>
 <%- include("partials/footer.ejs") %>
</div>