<%- include("partials/header.ejs") %>
<main>
    <h1><%= t('results.title') %></h1>
    <div class="firstRow">
        <canvas id="myChartEarnings"></canvas>
        <canvas id="myChartExpenses"></canvas>
    </div>
    <div class="secondRow">
        <canvas id="myChartCombined"></canvas>
    </div>
   
</main>
<%- include("partials/footer.ejs") %>