<footer>
	  <div class="footer-content">
	<p>&copy; 2023 Debt Tracers. All rights reserved.</p>
	<ul class="social-links">
		<!-- we could create a fake page for them or just make the button functional to an empty page or sign up page-->
	  <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
	  <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
	  <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
	  <li><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></li>
	</ul>
  </div>
</footer>