<header>
	<nav>
		<h2>Debt Tracer</h2>
		<!-- maybe if we obtain a logo
		 <img src="" alt=""> -->

		 <ul>
			<!-- keep it in the ejs or route it from the backend-->
			<li><a href="/routes/profile.ejs">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/routes/earnings.ejs">Earnings</a></li>
			<li><a href="/routes/expenses.ejs">Expenses</a></li>
			<li><a href="/"></a></li>
		 </ul>
	</nav>
</header>