/* 
this is for the commented out profile picture that 
shows in the ejs file but is currently commented out 
because of the new darkmode bar that shows at the top 
right of every page 
*/

/* #setProfilePic{
    border-radius: 50%;
    height: 100px;
    width: 100px;
} */

.content-containerP{
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 176, 214);
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px auto;
    width: 800px;
    height: 100%;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

}
.profilePictureSec{
    margin-top: 10px;
}
.profilePictureSec button {
    border-radius: 6px; /* adjust to make it more round */
    padding: 8px 16px; /* optional: for better shape */
  }
/* 
hides the default file input 
button that says choose file
*/
#profilePic {
    display: none;
}

/*
the css for the custom label 
that replaces the choose file button 
*/
.custom-file-label {
display: inline-block;
padding: 10px 15px;
background-color: #007bff;
color: white;
border-radius: 6px;
cursor: pointer;
font-size: 14px;
margin-right: 10px;
}

.custom-file-label:hover {
background-color: #0056b3;
}

.profilePictureSec form button{
    border: 1px solid black;
}
  
/* .updateInfo{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px auto;
    width: 800px;
    height: 100%;
    padding: 10px;
} */

.stack{
    display: flex;
    flex-direction: column; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.stack input{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 450px;
    height: 40px;
}

.stack button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 10px;
    width: 350px;
    height: 40px;
}

.labels{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14pt;
    font-weight: 600;
}

.changePassword form input{
    margin-bottom: 10px;
}

