body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #201e3f;
    color: white;
  }
  
  /* Header/Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #211f46;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 15px;
  }
  
  .app-name {
    font-size: 24px;
    color: white;
  }
  
  .auth-buttons a {
    margin-left: 15px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .login {
    background-color: #ccc;
    color: #12163d;
  }
  
  .signup {
    background-color: #ffff00;
    color: #12163d;
  }
  