<div class="circle-container" id="open-chat-container">
    <button class="rotate-up" id="open-chat">&gt;</button>  
  </div>
  <div class="aiSection collapsed" id="ai-section">
      <div class="chat-bar">
        <button class="close-chat" id="close-chat">×</button>
      </div>
      <div id="chat-box">
      </div>
      <form id="chat-form">
        <input type="text" id="user-input" placeholder="Ask a finance question..." autocomplete="off" required />
        <button class="submit-prompt" type="submit">Send</button>
      </form>
  </div>
</main>
<footer>
	<div class="footer-content">
		<% const Today = new Date() %>
		<% const year = Today.getFullYear()  %>
		<p>&copy; <%= year %> Debt Tracers. All rights reserved.</p>
		<ul class="social-links">
			<!-- we could create a fake page for them or just make the button functional to an empty page or sign up page-->
		<li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
		<li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
		<li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
		<li><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></li>
		</ul>
  </div>
</footer>
<script src="/index.js"></script>
<script src="/js/analytics.js"></script>
<script src="/js/earnings.js"></script>
<script src="/js/expenses.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/your-code.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>