
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Debt Tracer</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header>
	<nav>
		<div class="Title_logo">
		<h2 >Debt Tracer</h2>
		</div>
		<!-- maybe if we obtain a logo
		 <img src="" alt=""> -->
		<div class="nav-bar">
		 <ul class="nav-links">
			<!-- keep it in the ejs or route it from the backend-->
			<li><a href="/dashboard.ejs">Home</a></li>
			<li><a href="/earnings.ejs">Earnings</a></li>
			<li><a href="/expenses.ejs">Expenses</a></li>
			<li><a href="/profile.ejs">Profile</a></li>
			<li><a href="/auth/logout">Logout</a></li>
		 </ul>
		 </div>
	</nav>
</header>